*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-size: 23px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    width: 50%; 
}
h2{
    color: blue;
    font-size: 23px;
    margin: 2rem 2rem;
}
p{
    color: #000;
    margin-bottom: 2rem;
}
p a{
    text-decoration: none;
}
.form-control{
    padding: 1rem;
    background-color: white;
    border-color: blue;
}
input[type="text"]{
    width: 400px;
    height: 60px;
}
input[type="Password"]{
    width: 400px;
    height: 60px;
}
.btn{
    margin-left: 2.5rem;
    width: 300px;
    padding: 1rem;
    margin-bottom: 0.8rem;
    color: #fff;
    background-color: rgb(10, 10, 109);
    border: none;
    border-radius: 1rem;
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdownbutton{
    background-color: blue;
    color: whitesmoke;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 200px;
}
.dropdown-menu {
    display: none ;
    position: absolute;
    background-color: lightblue;
    min-width: 200px;
}
.dropdown-menu a{
    color: #000;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}
.dropdown-menu a:hover{
    text-decoration: underline;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown:hover .dropdownbutton{
    background-color: gray;
}
#container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
#item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
}
.kiut{
    background-color: #000;
    color: whitesmoke;
    padding: 1rem;
}
@media  (max-width: 760px) {
 .container{
    width: 100%;
 }
 .form-control{
    display:block;
    width: 100%;
    margin: 0 auto;
}

#item{
    display: block;
}
img{
    width: 260px;
}
.kiut{
    width: 260px;
}
}